<div class="p-2">
<!--  <app-anime-form></app-anime-form>-->

<!--  <p>My Birthday {{birthday | date | uppercase}}</p>-->
<!--  <p>Also My Birthday {{birthday | date:"'EEEE, MMMM d, y"}}</p>-->

<!--  <p>To '{{3 | exponent: 3333}}' And Beyond</p>-->

<!--  <p>My Age '{{birthday | age}}' Years Old</p>-->

<!--  <h1>Todo List dengan Constructor</h1>-->
  <app-todo-list></app-todo-list>

<!--  <h1 class="mt-5">Todo List 2 dengan New Instance</h1>-->
<!--  <app-todo-list2></app-todo-list2>-->
</div>
